* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A5DBF2;
    color: #000000;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 24px;
}

h1 {
    font-size: 130%;
    color: #4e6f77;
}

a {
    color: #4e6f77;
}

#settings {
    width: 300px;
    position: absolute;
    z-index: 10000;
    background: #000;
    color: #FFFFFF;
    right: 0;
    padding: 10px;
    opacity: 0.3;
    transition: opacity 0.2s;
}

#settings:hover {
    opacity: 1;
}

input[type=text] {
    width: 40px;
}

#paper {
    clear: both;
    padding: 20px;
}

.effect {
    transition: fill 0.5s;
}

.effect:hover {
    fill: blue;
}

.effect-persisting {
    fill: blue;
}